*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* [visual] ------------------------------------------------------------------ */
.index_visual {
    height: 540px;
    text-align: center;  
    overflow: hidden;
    position: relative;       
}

.index_visual > div {
    float: left;
}

.index_sideCategory { 
    width: 150px;
    height: 480px;
    top: 100px;
    /* padding: 10px; */
    
    margin-top: 40px;
    margin-bottom: 1px;
    border: 1px solid rgb(206, 205, 205);
}

.index_sideCategory > .index_quickCateDetail {
    padding-top: 30px;
}

.index_sideCategory > .index_quickCateDetail > li {
    padding-top: 10px;
}

.index_sideCategory > .index_quickCateDetail > li > a {
    color: black;
}

.index_sideCategory > .index_quickCateDetail > li > a:hover {
    font-size: 16.5px;
}


.index_quickCate {
    width: 148px;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

